<p>
Want to create a new recipe ?
</p>


<form action="/recipes" method="/recipes">
  <label for="name"> Name :</label><br>
  <input type="name" id="name1" name="name"><br>
  <label for="description">Description :</label><br>
  <input type="description" id="description" name="description"><br>
  <label for="prep_time">Prep time:</label><br>
  <input type="prep_time" id="prep_time" name="prep_time"><br>
  <label for="rating">Rating :</label><br>
  <input type="rating" id="rating" name="rating"><br>
  <br>
  <input type="submit" value="Submit">
</form>
